@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
  }
  html, body {
    overflow-x: hidden; /* Hide horizontal overflow */
      --tw-bg-opacity: 1;
      background-color: rgb(17 24 39 / var(--tw-bg-opacity)) /* #111827 */;
  }
